<div id="header-post">
  <a id="menu-icon" href="#" aria-label="<%- __('icons.menu') %>"><i class="fas fa-bars fa-lg"></i></a>
  <a id="menu-icon-tablet" href="#" aria-label="<%- __('icons.menu') %>"><i class="fas fa-bars fa-lg"></i></a>
  <a id="top-icon-tablet" href="#" "<%- __('icons.top') %>" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');" style="display:none;"><i class="fas fa-chevron-up fa-lg"></i></a>
  <span id="menu">
    <span id="nav">
      <ul>
        <% for (var i in theme.nav) { %> 
          <li><a href="<%- ((theme.nav[i] === '/archives/' || theme.nav[i] === '/') && page.lang != config.language[0])?('/' + page.lang + url_for(theme.nav[i])):url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
        <% } %>
      </ul>
    </span>
    <br/>
    <span id="actions">
      <ul>
        <!-- <% if (page.prev) { %>
        <li><a class="icon" aria-label="<%- __('post.desktop.previous') %> " href="<%- url_for(page.prev.path) %>"><i class="fas fa-chevron-left" aria-hidden="true" onmouseover="$('#i-prev').toggle();" onmouseout="$('#i-prev').toggle();"></i></a></li>
        <% } %>
        <% if (page.next) { %>
        <li><a class="icon" aria-label="<%- __('post.desktop.next') %> " href="<%- url_for(page.next.path) %>"><i class="fas fa-chevron-right" aria-hidden="true" onmouseover="$('#i-next').toggle();" onmouseout="$('#i-next').toggle();"></i></a></li>
        <% } %>
        --!>

        <% if(page.multilanguage != undefined){ %>
          <% const dictShow = {"zh-TW": "正", "zh-CN": "简", "en": "En"} %>
          <% const dictLabel = {"zh-TW": "正体中文（台灣標準）", "zh-CN": "中文简体（大陆标准）", "en": "English"} %>
          <% Array.prototype.forEach.call(page.multilanguage, function(lang){ %>
            <li><a class="icon" aria-label="<%- dictLabel[lang] %> " href="<%- (page.lang === lang) ? '#' : url_for(page.path.replace(page.lang, lang)) %>"><%- dictShow[lang] %></a></li>
          <% }) %>
        <% } %>

        <li><a class="icon" aria-label="<%- __('post.desktop.back_to_top') %> " href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"><i class="fas fa-chevron-up" aria-hidden="true"></i></a></li>
        <li><a class="icon" aria-label="<%- __('post.desktop.share') %> " href="#"><i class="fas fa-share-alt" aria-hidden="true" onclick="$('#share').toggle();return false;"></i></a></li>
      </ul>
      <span id="i-prev" class="info" style="display:none;"><%= __('post.desktop.previous') %></span>
      <span id="i-next" class="info" style="display:none;"><%= __('post.desktop.next') %></span>
      <span id="i-top" class="info" style="display:none;"><%= __('post.desktop.back_to_top') %></span>
      <span id="i-share" class="info" style="display:none;"><%= __('post.desktop.share') %></span>
    </span>
    <br/>
    <div id="share" style="display: none">
      <%- partial('_partial/post/share', { icon_class_name: '' }) %>
    </div>
    <div id="toc">
      <%- toc(page.content) %>
    </div>
  </span>
</div>
